root = true

[*.cs]
indent_style = tab
indent_size = 4

[*.{xaml,razor}]
indent_style = space
indent_size = 4

[*.xsd]
indent_style = tab
indent_size = 4

[*.wxs]
indent_style = tab
indent_size = 2

[*.{css,scss,less,js,ts,yml}]
indent_style = space
tab_width = 2
indent_size = 2
continuation_indent_size = 2