<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net461" />
  <package id="DotNetZip.Reduced" version="1.9.1.8" targetFramework="net40-Client" />
  <package id="GraphSharp.SIL" version="1.1.1" targetFramework="net461" />
  <package id="MathNet.Numerics" version="2.6.2" targetFramework="net461" />
  <package id="MvvmLightLibs" version="5.3.0.0" targetFramework="net40-Client" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
  <package id="protobuf-net" version="2.3.4" targetFramework="net461" />
  <package id="Sandwych.QuickGraph.Core" version="1.0.0" targetFramework="net461" />
  <package id="SIL.Core" version="7.0.0" targetFramework="net461" />
  <package id="SIL.Machine" version="2.1.12" targetFramework="net461" />
  <package id="SIL.Scripture" version="7.0.0" targetFramework="net461" />
  <package id="System.Diagnostics.Contracts" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>