<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.2" targetFramework="net40-Client" />
  <package id="DotNetZip.Reduced" version="1.9.1.8" targetFramework="net40-Client" />
  <package id="MvvmLightLibs" version="4.2.30.0" targetFramework="net40-Client" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net40-Client" />
  <package id="QuickGraph" version="3.6.61119.7" targetFramework="net40-Client" />
</packages>