<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.1.3" targetFramework="net40-Client" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net40-Client" />
  <package id="Extended.Wpf.Toolkit" version="2.0.0" targetFramework="net40-Client" />
  <package id="GraphSharp" version="1.1.0.0" targetFramework="net40-Client" />
  <package id="MvvmLightLibs" version="4.1.27.1" targetFramework="net40-Client" />
  <package id="NBug" version="1.1.1" targetFramework="net40-Client" />
  <package id="QuickGraph" version="3.6.61119.7" targetFramework="net40-Client" />
  <package id="WPFExtensions" version="1.0.0" targetFramework="net40-Client" />
</packages>