@using Newtonsoft.Json
@using Newtonsoft.Json.Converters
@using Newtonsoft.Json.Serialization

@implements IDisposable
@typeparam TItem
@inject IJSRuntime _jsRuntime

<div id="@Id" class="@Class"></div>

@code {
    private static readonly JsonSerializerSettings SerializerSettings = new JsonSerializerSettings
    {
        ContractResolver = new CamelCasePropertyNamesContractResolver(),
        NullValueHandling = NullValueHandling.Ignore,
        Converters =
        {
            new StringEnumConverter(true)
        }
    };
    private string Id = "table_" + Guid.NewGuid().ToString();
    private IReadOnlyList<DataGridColumn> _columns;
    private IEnumerable<TItem> _items;
    private decimal _playbackRate = 1;

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public IReadOnlyList<DataGridColumn> Columns
    {
        get => _columns;
        set
        {
            if (_columns != value)
            {
                _columns = value;
                _jsRuntime.InvokeVoidAsync("TabulatorInterop.setColumns", Id,
                    JsonConvert.SerializeObject(_columns, SerializerSettings));
            }
        }
    }

    [Parameter]
    public IEnumerable<TItem> Items
    {
        get => _items;
        set
        {
            if (_items != value)
            {
                _items = value;
                _jsRuntime.InvokeVoidAsync("TabulatorInterop.setData", Id,
                    JsonConvert.SerializeObject(_items ?? new TItem[0], SerializerSettings));
            }
        }
    }

    [Parameter]
    public decimal PlaybackRate
    {
        get => _playbackRate;
        set
        {
            if (_playbackRate != value)
            {
                _playbackRate = value;
                _jsRuntime.InvokeVoidAsync("TabulatorInterop.setPlaybackRate", Id, _playbackRate);
            }
        }
    }

    public void Dispose()
    {
        _jsRuntime.InvokeVoidAsync("TabulatorInterop.disposeTable", Id);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await _jsRuntime.InvokeVoidAsync("TabulatorInterop.createTable", Id,
                JsonConvert.SerializeObject(_columns, SerializerSettings),
                JsonConvert.SerializeObject(_items ?? new TItem[0], SerializerSettings));
        }
    }
}
