@using Newtonsoft.Json
@using Newtonsoft.Json.Converters
@using Newtonsoft.Json.Serialization

@implements IDisposable
@typeparam TRow
@inject IJSRuntime _jsRuntime

<div id="@Id" class="@Class"></div>

@code {
    private static readonly JsonSerializerSettings SerializerSettings = new JsonSerializerSettings
    {
        ContractResolver = new CamelCasePropertyNamesContractResolver(),
        NullValueHandling = NullValueHandling.Ignore,
        Converters =
        {
            new StringEnumConverter(true)
        }
    };
    private string Id = "table_" + Guid.NewGuid().ToString();
    private IEnumerable<DataGridColumn> _columns;
    private IEnumerable<TRow> _rows;
    private decimal _playbackRate = 1;

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public IEnumerable<DataGridColumn> Columns
    {
        get => _columns;
        set
        {
            if (_columns != value)
            {
                _columns = value;
                _jsRuntime.InvokeVoidAsync("TabulatorInterop.setColumns", Id,
                    JsonConvert.SerializeObject(_columns, SerializerSettings));
            }
        }
    }

    [Parameter]
    public IEnumerable<TRow> Rows
    {
        get => _rows;
        set
        {
            if (_rows != value)
            {
                _rows = value;
                _jsRuntime.InvokeVoidAsync("TabulatorInterop.setData", Id,
                    JsonConvert.SerializeObject(_rows ?? new TRow[0], SerializerSettings));
            }
        }
    }

    [Parameter]
    public decimal PlaybackRate
    {
        get => _playbackRate;
        set
        {
            if (_playbackRate != value)
            {
                _playbackRate = value;
                _jsRuntime.InvokeVoidAsync("TabulatorInterop.setPlaybackRate", Id, _playbackRate);
            }
        }
    }

    [Parameter]
    public string Height { get; set; }

    [Parameter]
    public bool? Selectable { get; set; }

    [Parameter]
    public DataGridVertAlign? ColumnHeaderVertAlign { get; set; }

    public void Dispose()
    {
        _jsRuntime.InvokeVoidAsync("TabulatorInterop.disposeTable", Id);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var tableParams = new
            {
                Height = Height,
                Selectable = Selectable,
                ColumnHeaderVertAlign = ColumnHeaderVertAlign
            };
            await _jsRuntime.InvokeVoidAsync("TabulatorInterop.createTable", Id,
                JsonConvert.SerializeObject(tableParams, SerializerSettings),
                JsonConvert.SerializeObject(_columns, SerializerSettings),
                JsonConvert.SerializeObject(_rows ?? new TRow[0], SerializerSettings));
        }
    }
}
