html, body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}

app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  padding: 8px;
  flex: 1;
  flex-direction: column;
}

.data-grid-container {
  display: flex;
  flex: 1;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.12);
  border-style: solid;
}

.main-controls {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
}

.playback-rate-container {
  display: flex;
  flex-direction: column;
  margin-left: 18px;
  width: 140px;
}

.playback-rate-label {
  align-self: center;
}

.playback-rate-slider {
  display: flex;
  align-items: center;
}

.playback-rate-slider .mdc-slider {
  margin-left: 8px;
  margin-right: 8px;
}

.dense-col .tabulator-col-content {
  padding-left: 0.3rem !important;
  padding-right: 0.3rem !important;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.mdc-icon-button.audio-button {
  width: 19px;
  height: 19px;
  font-size: 19px;
  padding: 0;
}

.mdc-icon-button.audio-button i.material-icons {
  font-size: 19px;
}

.tabulator-row .tabulator-cell[tabulator-field='audioSegment'] {
  font-family: Material Icons;
  background: none;
  transition: none;
  -webkit-transform: translateZ(0);
}

.tabulator-row .tabulator-cell[tabulator-field='audioSegment'].animate-progress {
  transition: background-size 250ms linear;
  background: linear-gradient(#D2DEF4, #D2DEF4) no-repeat;
  background-size: 0;
}

#titlebar {
  display: flex;
  background: linear-gradient(to left top, #3164a5, #8aaed4);
}

.titlebar-buttons {
  padding: 4px;
  color: white;
}

.titlebar-drag-region {
  display: flex;
  align-items: center;
  margin: 4px;
  -webkit-app-region: drag;
  flex: 1 1 auto;
  padding-left: 10px;
  color: white;
}

#window-controls {
  height: 32px;
  display: grid;
  grid-template-columns: repeat(3, 46px);
  font-family: "Segoe MDL2 Assets";
  font-size: 10px;
  color: white;
}

#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  user-select: none;
  cursor: default;
}

#min-button {
  grid-column: 1;
}

#max-button, #restore-button {
  grid-column: 2;
}

#close-button {
  grid-column: 3;
}

#window-controls .button:hover {
  background: rgba(0,0,0,0.1);
}

#window-controls .button:active {
  background: rgba(0,0,0,0.2);
}

#close-button:hover {
  background: #E81123 !important;
  color: white;
}

#close-button:active {
  background: #f1707a !important;
}

#restore-button {
  display: none !important;
}

#titlebar.maximized #restore-button {
  display: flex !important;
}

#titlebar.maximized #max-button {
  display: none;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #315599;
}

.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
  color: #315599;
}