<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?if $(var.Platform) = x64 ?>
		<?define ProductName = "Cog (64-bit)" ?>
		<?define Win64 = "yes" ?>
		<?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
		<?define ProductUpgradeCode = "A529971E-2352-413F-A23D-523809377D40" ?>
	<?else ?>
		<?define ProductName = "Cog (32-bit)" ?>
		<?define Win64 = "no" ?>
		<?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
		<?define ProductUpgradeCode = "DCE6931C-A5F0-4EA8-89C1-18CE3A4FDB02" ?>
	<?endif ?>
	<Product Id="*" Name="$(var.ProductName)" Language="1033" Version="$(var.VersionNumber)" Manufacturer="SIL International" UpgradeCode="$(var.ProductUpgradeCode)">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="Complete" Level="1">
			<ComponentGroupRef Id="RequiredComponents" />
			<ComponentGroupRef Id="Helps"/>
			<ComponentRef Id="ProgramMenuShortcut" />
			<ComponentRef Id="DesktopShortcut" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="$(var.PlatformProgramFilesFolder)">
				<Directory Id="SILFolder" Name="SIL">
					<Directory Id="INSTALLFOLDER" Name="Cog">
						<Directory Id="HelpFolder" Name="Help" />
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="AppProgramMenuFolder" Name="Cog" />
			</Directory>
			<Directory Id="DesktopFolder" />
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="Helps" Directory="HelpFolder">
			<Component Id="Cog.chm" Win64="$(var.Win64)">
				<File Id="Cog.chm" Name="Cog.chm" Source="$(var.Cog.Presentation.TargetDir)\Help\Cog.chm" KeyPath="yes" />
				<RemoveFile Id="PurgeChw" Name="*.chw" On="uninstall"/>
			</Component>
			<Component Id="GettingStartedWithCog.pdf" Win64="$(var.Win64)">
				<File Id="GettingStartedWithCog.pdf" Name="GettingStartedWithCog.pdf" Source="$(var.Cog.Presentation.TargetDir)\Help\GettingStartedWithCog.pdf" KeyPath="yes" />
			</Component>
		</ComponentGroup>
		
		<ComponentGroup Id="RequiredComponents" Directory="INSTALLFOLDER">
			<!-- Cog -->
			<Component Id="Cog.exe" Win64="$(var.Win64)">
				<File Id="Cog.exe" Name="Cog.exe" Source="$(var.Cog.Presentation.TargetPath)" KeyPath="yes" />
				<ProgId Id="Cog.Project" Description="Cog Project" Icon="Cog.exe" IconIndex="0">
					<Extension Id="cogx">
						<Verb Id="open" TargetFile="Cog.exe" Argument="&quot;%1&quot;"/>
					</Extension>
				</ProgId>
			</Component>
			<Component Id="Cog.pdb" Win64="$(var.Win64)">
				<File Id="Cog.pdb" Name="Cog.pdb" Source="$(var.Cog.Presentation.TargetDir)\Cog.pdb" KeyPath="yes" />
			</Component>
			<Component Id="SIL.Cog.Application.dll" Win64="$(var.Win64)">
				<File Id="SIL.Cog.Application.dll" Name="SIL.Cog.Application.dll" Source="$(var.Cog.Presentation.TargetDir)\SIL.Cog.Application.dll" KeyPath="yes" />
			</Component>
			<Component Id="SIL.Cog.Application.pdb" Win64="$(var.Win64)">
				<File Id="SIL.Cog.Application.pdb" Name="SIL.Cog.Application.pdb" Source="$(var.Cog.Presentation.TargetDir)\SIL.Cog.Application.pdb" KeyPath="yes" />
			</Component>
			<Component Id="SIL.Cog.Domain.dll" Win64="$(var.Win64)">
				<File Id="SIL.Cog.Domain.dll" Name="SIL.Cog.Domain.dll" Source="$(var.Cog.Presentation.TargetDir)\SIL.Cog.Domain.dll" KeyPath="yes" />
			</Component>
			<Component Id="SIL.Cog.Domain.pdb" Win64="$(var.Win64)">
				<File Id="SIL.Cog.Domain.pdb" Name="SIL.Cog.Domain.pdb" Source="$(var.Cog.Presentation.TargetDir)\SIL.Cog.Domain.pdb" KeyPath="yes" />
			</Component>
			<Component Id="Cog.exe.config" Win64="$(var.Win64)">
				<File Id="Cog.exe.config" Name="Cog.exe.config" Source="$(var.Cog.Presentation.TargetDir)\Cog.exe.config" KeyPath="yes" />
			</Component>
			<Component Id="cog_cli.exe" Win64="$(var.Win64)">
				<File Id="cog_cli.exe" Name="cog-cli.exe" Source="$(var.Cog.CommandLine.TargetDir)\cog-cli.exe" KeyPath="yes" />
			</Component>
			<Component Id="cog_cli.pdb" Win64="$(var.Win64)">
				<File Id="cog_cli.pdb" Name="cog-cli.pdb" Source="$(var.Cog.CommandLine.TargetDir)\cog-cli.pdb" KeyPath="yes" />
			</Component>
			<Component Id="CommandLine.dll" Win64="$(var.Win64)">
				<File Id="CommandLine.dll" Name="CommandLine.dll" Source="$(var.Cog.CommandLine.TargetDir)\CommandLine.dll" KeyPath="yes" />
			</Component>

			<!-- Machine -->
			<Component Id="SIL.Machine.dll" Win64="$(var.Win64)">
				<File Id="SIL.Machine.dll" Name="SIL.Machine.dll" Source="$(var.Cog.Presentation.TargetDir)\SIL.Machine.dll" KeyPath="yes" />
			</Component>
			<Component Id="SIL.Machine.pdb" Win64="$(var.Win64)">
				<File Id="SIL.Machine.pdb" Name="SIL.Machine.pdb" Source="$(var.Cog.Presentation.TargetDir)\SIL.Machine.pdb" KeyPath="yes" />
			</Component>
			<Component Id="SIL.Collections.dll" Win64="$(var.Win64)">
				<File Id="SIL.Collections.dll" Name="SIL.Collections.dll" Source="$(var.Cog.Presentation.TargetDir)\SIL.Collections.dll" KeyPath="yes" />
			</Component>
			<Component Id="SIL.Collections.pdb" Win64="$(var.Win64)">
				<File Id="SIL.Collections.pdb" Name="SIL.Collections.pdb" Source="$(var.Cog.Presentation.TargetDir)\SIL.Collections.pdb" KeyPath="yes" />
			</Component>

			<!-- MVVM Light -->
			<Component Id="GalaSoft.MvvmLight.dll" Win64="$(var.Win64)">
				<File Id="GalaSoft.MvvmLight.dll" Name="GalaSoft.MvvmLight.dll" Source="$(var.Cog.Presentation.TargetDir)\GalaSoft.MvvmLight.dll" KeyPath="yes" />
			</Component>

			<!-- Autofac -->
			<Component Id="Autofac.dll" Win64="$(var.Win64)">
				<File Id="Autofac.dll" Name="Autofac.dll" Source="$(var.Cog.Presentation.TargetDir)\Autofac.dll" KeyPath="yes" />
			</Component>

			<!-- GMap.NET -->
			<Component Id="GMap.NET.Core.dll" Win64="$(var.Win64)">
				<File Id="GMap.NET.Core.dll" Name="GMap.NET.Core.dll" Source="$(var.Cog.Presentation.TargetDir)\GMap.NET.Core.dll" KeyPath="yes" />
			</Component>
			<Component Id="GMap.NET.WindowsPresentation.dll" Win64="$(var.Win64)">
				<File Id="GMap.NET.WindowsPresentation.dll" Name="GMap.NET.WindowsPresentation.dll" Source="$(var.Cog.Presentation.TargetDir)\GMap.NET.WindowsPresentation.dll" KeyPath="yes" />
			</Component>

			<!-- Graph# -->
			<Component Id="GraphSharp.Controls.dll" Win64="$(var.Win64)">
				<File Id="GraphSharp.Controls.dll" Name="GraphSharp.Controls.dll" Source="$(var.Cog.Presentation.TargetDir)\GraphSharp.Controls.dll" KeyPath="yes" />
			</Component>
			<Component Id="GraphSharp.Controls.pdb" Win64="$(var.Win64)">
				<File Id="GraphSharp.Controls.pdb" Name="GraphSharp.Controls.pdb" Source="$(var.Cog.Presentation.TargetDir)\GraphSharp.Controls.pdb" KeyPath="yes" />
			</Component>
			<Component Id="GraphSharp.dll" Win64="$(var.Win64)">
				<File Id="GraphSharp.dll" Name="GraphSharp.dll" Source="$(var.Cog.Presentation.TargetDir)\GraphSharp.dll" KeyPath="yes" />
			</Component>
			<Component Id="GraphSharp.pdb" Win64="$(var.Win64)">
				<File Id="GraphSharp.pdb" Name="GraphSharp.pdb" Source="$(var.Cog.Presentation.TargetDir)\GraphSharp.pdb" KeyPath="yes" />
			</Component>

			<!-- DotNetZip -->
			<Component Id="Ionic.Zip.Reduced.dll" Win64="$(var.Win64)">
				<File Id="Ionic.Zip.Reduced.dll" Name="Ionic.Zip.Reduced.dll" Source="$(var.Cog.Presentation.TargetDir)\Ionic.Zip.Reduced.dll" KeyPath="yes" />
			</Component>

			<!-- Math.NET Numerics -->
			<Component Id="MathNet.Numerics.dll" Win64="$(var.Win64)">
				<File Id="MathNet.Numerics.dll" Name="MathNet.Numerics.dll" Source="$(var.Cog.Presentation.TargetDir)\MathNet.Numerics.dll" KeyPath="yes" />
			</Component>

			<!-- QuickGraph -->
			<Component Id="QuickGraph.dll" Win64="$(var.Win64)">
				<File Id="QuickGraph.dll" Name="QuickGraph.dll" Source="$(var.Cog.Presentation.TargetDir)\QuickGraph.dll" KeyPath="yes" />
			</Component>

			<!-- Extended WPF Toolkit -->
			<Component Id="Xceed.Wpf.DataGrid.dll" Win64="$(var.Win64)">
				<File Id="Xceed.Wpf.DataGrid.dll" Name="Xceed.Wpf.DataGrid.dll" Source="$(var.Cog.Presentation.TargetDir)\Xceed.Wpf.DataGrid.dll" KeyPath="yes" />
			</Component>
			<Component Id="Xceed.Wpf.Toolkit.dll" Win64="$(var.Win64)">
				<File Id="Xceed.Wpf.Toolkit.dll" Name="Xceed.Wpf.Toolkit.dll" Source="$(var.Cog.Presentation.TargetDir)\Xceed.Wpf.Toolkit.dll" KeyPath="yes" />
			</Component>

			<!-- protobuf-net -->
			<Component Id="protobuf_net.dll" Win64="$(var.Win64)">
				<File Id="protobuf_net.dll" Name="protobuf-net.dll" Source="$(var.Cog.Presentation.TargetDir)\protobuf-net.dll" KeyPath="yes" />
			</Component>

			<!-- HockeyApp -->
			<Component Id="Microsoft.HockeyApp.Core45.dll" Win64="$(var.Win64)">
				<File Id="Microsoft.HockeyApp.Core45.dll" Name="Microsoft.HockeyApp.Core45.dll" Source="$(var.Cog.Presentation.TargetDir)\Microsoft.HockeyApp.Core45.dll" KeyPath="yes" />
			</Component>
			<Component Id="Microsoft.HockeyApp.Kit.dll" Win64="$(var.Win64)">
				<File Id="Microsoft.HockeyApp.Kit.dll" Name="Microsoft.HockeyApp.Kit.dll" Source="$(var.Cog.Presentation.TargetDir)\Microsoft.HockeyApp.Kit.dll" KeyPath="yes" />
			</Component>
			
			<!-- MahApps.Metro -->
			<Component Id="MahApps.Metro.dll" Win64="$(var.Win64)">
				<File Id="MahApps.Metro.dll" Name="MahApps.Metro.dll" Source="$(var.Cog.Presentation.TargetDir)\MahApps.Metro.dll" KeyPath="yes" />
			</Component>
			<Component Id="System.Windows.Interactivity.dll" Win64="$(var.Win64)">
				<File Id="System.Windows.Interactivity.dll" Name="System.Windows.Interactivity.dll" Source="$(var.Cog.Presentation.TargetDir)\System.Windows.Interactivity.dll" KeyPath="yes" />
			</Component>
		</ComponentGroup>
		<Component Id="ProgramMenuShortcut" Directory="AppProgramMenuFolder" Guid="F34CBDA4-7885-49C8-8256-71148666888E" Win64="$(var.Win64)">
			<Condition>PROGRAMMENUSHORTCUT = "1"</Condition>
			<Shortcut Id="ProgramMenuShortcut" Name="Cog" Target="[INSTALLFOLDER]Cog.exe" WorkingDirectory="INSTALLFOLDER" />
			<RemoveFolder Id="AppProgramMenuFolder" On="uninstall" />
			<RegistryValue Root="HKCU" Key="Software\SIL\Cog" Type="string" Value="" KeyPath="yes" />
		</Component>
		<Component Id="DesktopShortcut" Directory="DesktopFolder" Guid="CC4DBF72-8CD4-4732-9261-15F2E1058981" Win64="$(var.Win64)">
			<Condition>DESKTOPSHORTCUT = "1"</Condition>
			<Shortcut Id="DesktopShortcut" Name="Cog" Target="[INSTALLFOLDER]Cog.exe" WorkingDirectory="INSTALLFOLDER" />
			<RegistryValue Root="HKCU" Key="Software\SIL\Cog" Type="string" Value="" KeyPath="yes" />
		</Component>
	</Fragment>
</Wix>